<button
  class="btn custom-btn-<%= type %>-<%= color %> custom-btn-circle-<%= size %> <%= (typeof btnClass !== 'undefined' && btnClass)? btnClass:'' %>"
  type="button"
  data-id="<%= (typeof dataId !== 'undefined' && dataId)? dataId:'' %>"
>
  <span class="custom-btn-icon material-symbols-rounded"> <%= iconName %> </span>
</button>
